
/* Shape */
@import './shape.css';

/* Animation */
@import '../dashie/anim/scaler.css';
@import './graph-anim.css';

@layer components {

  /* ==================== */
  /* Whole Graph Wrapper Container */
  .graph-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 70%;
    min-height: 384px;
  }

  /* Lower than 1419px */
  @media (max-width: 1419px) {
    .graph-container {
      flex-shrink: 0;
      min-width: 768px;
      @apply smooth-anim-[300]
    }
  }
  
  /* ==================== */
  /* Graph Background Components */
  .graph-bg {
    position: absolute;
  }

  .graph-container .graph-start-node {
    @apply graph-bg smooth-anim-[300];
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .graph-container .graph-end-node {
    @apply graph-bg smooth-anim-[300];
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    min-width: 64px;
    min-height: 64px;
  }
  /* Lower than 1419px */
  @media (max-width: 1419px) {
    .graph-container .graph-start-node {
      transform: scale(0.8) translateX(-15%) translateY(-60%)
    }

    .graph-container .graph-end-node {
      transform: scale(0.8) translateX(15%) translateY(-60%)
    }
  }

  /* ==================== */
  /* Graph Line */
  .line-base {
    height: 0.5rem; /* 8px */
  }

  .graph-container .graph-line {
    position: absolute;
    z-index: -3;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    @apply line-base;
  }

  /* ==================== */
  /* Graph Body Components */
  .graph-container .graph-body {
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .graph-body-container {
    position: relative;
    flex-grow: 1;
    justify-content: center;
  }

  .grid-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    z-index: 1;
  }
    
  .grid-container .react-grid-layout {
    width: 95%;
  }

  /* ==================== */
  /* Cols Adder */
  .add-line-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    /* @apply line-base; */
  }

  .graph-body .col-ext-wrapper {
    position: absolute;
    right: 0;
    z-index: 0;
    height: 100%;
    width: 28%;
    @apply smooth-anim-[300];
  }

  /* More than 2560px */
  @media (min-width: 2561px) {
    .graph-body .col-ext-wrapper {
      transform: scaleX(0.7) translateX(20%);
    }
  }

  /* From 2161px to 2560px */
  @media (min-width: 2161px) and (max-width: 2560px) {
    .graph-body .col-ext-wrapper {
      transform: scaleX(0.75) translateX(13%);
    }
  }

  /* From 1921px to 2160px */
  @media (min-width: 1921px) and (max-width: 2160px) {
    .graph-body .col-ext-wrapper {
      transform: scaleX(0.9) translateX(5%);
    }
  }

  /* From 1550px to 1920px */
  @media (min-width: 1550px) and (max-width: 1920px) {
    .graph-body .col-ext-wrapper {
      transform: scaleX(1);
    }
  }

  /* From 1420px to 1549px */
  @media (min-width: 1420px) and (max-width: 1549px) {
    .graph-body .col-ext-wrapper{
      transform: scaleX(1.05) translateX(-2%);
    }
  }

  /* Lower than 1419px */
  @media (max-width: 1419px) {
    .graph-body .col-ext-wrapper {
      transform: scaleX(1.1) translateX(-3%);
    }
  }

  /* ==================== */
  /* Cols Extender Components Button */
  .col-ext-wrapper .col-ext-hovzone {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .col-ext-hovzone .col-extender {
    opacity: 0;
    @apply line-base smooth-anim-[300];
  }

  .col-ext-hovzone:hover .col-extender {
    @apply anim-col-ext-appear;
  }

  /* ==================== */
  /* Cols Extender Components Button */
  .col-extender button.add-button {
    width: 0.5rem; /* 8px */;
    height: 0.5rem; /* 8px */;
    @apply circle smooth-anim-[500];
  }

  /* More than 2560px */
  @media (min-width: 2561px) {
    button.add-button {
      margin-left: 15%;
    }
  }

  /* From 2161px to 2560px */
  @media (min-width: 2161px) and (max-width: 2560px) {
    button.add-button {
      margin-left: 13%;
    }
  }

  /* From 1921px to 2160px */
  @media (min-width: 1921px) and (max-width: 2160px) {
    button.add-button {
      margin-left: 12%;
    }
  }

  /* From 1550px to 1920px */
  @media (min-width: 1550px) and (max-width: 1920px) {
    button.add-button {
      margin-left: 10%;
    }
  }

  /* From 1420px to 1549px */
  @media (min-width: 1420px) and (max-width: 1549px) {
    button.add-button{
    }
  }

  /* Lower than 1419px */
  @media (max-width: 1419px) {
    button.add-button{
    }
  }

  .col-extender button.add-button h1 {
    opacity: 0;
    font-size: 0rem;
  }

  .col-ext-hovzone:hover button.add-button {
    cursor: pointer;
    @apply anim-add-button;
  }
  
  /* ==================== */
}