
@import './shape.css';

@layer components {

  .graph-line {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    height: 0.5rem; /* 8px */
    width: 50%;
  }

  .grid-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
    
  .grid-container .react-grid-layout {
    width: 95%;
  }
}