
@import './shape.css';

@layer components {

  .graph-line {
    position: absolute;
    height: 0.5rem; /* 8px */
    z-index: -1;
  }

  .grid-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    z-index: 1;
  }
    
  .grid-container .react-grid-layout {
    width: 95%;
  }
}