
@layer components {
    .bg-white {
        background-color: #ffffff;
        /* @apply bg-white; */
    }
}

@layer components {

    .dashie-sky {
        color: #0ea5e9; /* sky-500 */
        /* @apply text-cyan-500; */
    }
    
    .dashie-purple {
        color: #581c87; /* purple-900 */
        /* @apply text-purple-600; */
    }
    
    .dashie-green {
        color: #22c55e; /* green-500 */
        /* @apply text-green-600; */
    }
    
    .dashie-red {
        color: #dc2626; /* red-600 */
        /* @apply text-red-600; */
    }
    
    .dashie-orange {
        color: #ea580c; /* orange-600 */
        /* @apply text-orange-600; */
    }
    
    .dashie-amber {
        color: #fcd34d; /* amber-300 */
        /* @apply text-amber-300; */
    }
}

@layer base {
    .bg-primary {
        background-color: #0f172a;
        /* @apply bg-slate-900; */
    }
    
    .bg-secondary {
        background-color: #1e293b;
        /* @apply bg-slate-800; */
    }    
}
